<header class="navbar navbar-fixed-top" style="margin-bottom: 0px; padding: 0px">
		<div class="navbar-inner">
			<div class="container-fluid">
				<%= link_to "TUTORi English", root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",		root_path %></li>
						<% if signed_in? %>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account <b class="caret"></b></li>
						<ul class="dropdown-menu">
							<li><%=link_to "Profile", current_user %></li>
							<li><%=link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Users", users_path %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", signout_path, method: "delete" %>
							</li>
						<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
						<li><%= link_to "New user? Sign up now!", signup_path %></li>	
						<% end %>
				</nav>
			</div>
		</div>
	</header>
	
	
   
	
